<mat-card class="new-project">
  <mat-card-title class="text-center">Create a new project</mat-card-title>
  <mat-card-content>
    <form [formGroup]="projectForm" #formDirective="ngForm">
      <mat-form-field class="w-100" appearance="outline">
        <input matInput formControlName="name" placeholder="Project name" />
        <mat-error *ngIf="projectForm.get('name')?.invalid"
          >Project name is required</mat-error
        >
      </mat-form-field>
      <mat-divider></mat-divider>
      <div class="w-100 my-4 px-2">
        <button
          mat-raised-button
          class="w-100"
          color="primary"
          (click)="onSubmit(formDirective)"
        >
          Create project
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-footer> </mat-card-footer>
</mat-card>
