$body-color: #fafafa;
$primary-color: #2ea2b7;

$gray-3: #21222D;
$light: #e5e5e5;
$light-accent: #F4F4F4;
$light-medium: #d8d8d8;
$medium: #969696;
$medium-dark: #646464;
$black: #000;
$dark: #363636;
$dark-hard-01: #313133;
$dark-hard-02: #222222;
$linear-dark: linear-gradient(90deg, #000000 0%, #363636 50.42%, #000000 100%);

$todolist-primary: (
    50: $primary-color,
    100: $primary-color,
    200: $primary-color,
    300: $primary-color,
    400: $primary-color,
    500: $primary-color,
    600: $primary-color,
    700: $primary-color,
    800: $primary-color,
    900: $primary-color,
    A100: $primary-color,
    A200: $primary-color,
    A400: $primary-color,
    A700: $primary-color,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    ),
);

$todolist-accent: (
    50: #f4f4f4,
    100: #f4f4f4,
    200: #f4f4f4,
    300: #f4f4f4,
    400: #f4f4f4,
    500: #f4f4f4,
    600: #f4f4f4,
    700: #f4f4f4,
    800: #f4f4f4,
    900: #f4f4f4,
    A100: #f4f4f4,
    A200: #f4f4f4,
    A400: #f4f4f4,
    A700: #f4f4f4,
    contrast: (
        50: #646464,
        100: #646464,
        200: #646464,
        300: #646464,
        400: #646464,
        500: #646464,
        600: #646464,
        700: #646464,
        800: #646464,
        900: #646464,
        A100: #646464,
        A200: #646464,
        A400: #646464,
        A700: #646464,
    ),
);
