@import "../../scss/variables.scss";

.app-loading {
    position: fixed;
    left: calc(50% - 40px);
    top: calc(50% - 60px);
    z-index: 9999;
    opacity: 0.5;
    opacity: 0;
    animation: fade 0.8s alternate-reverse infinite;
}

@keyframes fade {
    from {
        opacity: 0.12;
    }
    to {
        opacity: 0.5;
    }
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $body-color;
    opacity: 1;
    z-index: 999;
}